footer
    padding: 14px 0
    h1
        color: #5d6566
        font-size: 20px
        margin: 15px 0
    ul
        display: flex
        justify-content: center
        flex-direction: row
        li
            margin: 10px
            background-color: #212529
            border-radius: 30px
            width: 40px
            height: 40px
            color: #ffff
            font-size: 15px
            display: flex
            justify-content: center
            align-items: center
            &:hover
                border: 3px solid #888f96
                cursor: pointer
    h2,h3
        color: #5d6566
        font-size: 18px
        margin: 10px 0
        &:hover
            cursor: pointer
    h2
        margin-right: 20px
