#welcome
    background-image: url("assets/bg.jpg")
    background-size: cover
    background-position: center center
    padding: 50px
    .box
        height: 650px
        display: flex
        align-items: center
        .textbox
            margin-top: 65px
            h1
                font-size: 40px
                color: #ffff
            h3
                font-weight: 700
                font-size: 90px
                color: #ffff
                margin: 25px 0 60px 0
            a
                color: #ffff
            .btn
                padding: 19px 54px
                background-color: #ffc800
                color: #ffff
                font-weight: 700
                font-size: 20px
                &:hover
                    background-color: #d9ac08

    @media screen and ( max-width: 771px )
        .box
            .textbox
                h1
                    font-size: 33px
                h3
                    font-size: 65px
